.purchased-player-img img{
    height:84px;
    width:84px;
    border-radius:50%;
    border:2px solid blue;
}

.purchased-player{
    background:linear-gradient(to right,#1D135C,#3D1260,#5B1062);
   margin:10px 15px 10px 10px;
   padding:10px 0px;
   border-radius:10px 4px;
}
.purchased-player-info{
    color:white;
   text-align: center;
}